# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/InventoryApp/.vs/

/InventoryApp/Inventory.Data/bin/
/InventoryApp/Inventory.Data/obj/
/InventoryApp/Inventory.UI.Core/bin/
/InventoryApp/Inventory.UI.Core/obj/
/InventoryApp/InventoryApp/bin/
/InventoryApp/InventoryApp/obj/
/InventoryApp/InventoryLib/bin/
/InventoryApp/InventoryLib/obj/
/InventoryApp/Inventory.Data/obj/
/InventoryApp/Inventory.Data/bin/
/InventoryApp/Inventory.CustomControls/bin/
/InventoryApp/Inventory.CustomControls/obj/
/InventoryApp/Inventory.Data/bin/
/InventoryApp/Inventory.Data/obj/
/InventoryApp/Inventory.UI.Core/bin/
/InventoryApp/Inventory.UI.Core/obj/
/InventoryApp/Inventory.UserControls/bin/
/InventoryApp/Inventory.UserControls/obj/
/InventoryApp/InventoryApp/obj/
/InventoryApp/InventoryApp/bin/
/InventoryApp/Inventory.Core/bin/
/InventoryApp/Inventory.Core/obj/
/InventoryApp/Inventory.UnitTests/bin/
/InventoryApp/Inventory.UnitTests/obj/
/InventoryApp/Inventory.UserControls/Inventory.UserControls.csproj.user
*.user
/InventoryApp/packages
